<% include ../partials/header %>

  <div class="row">
    <div class="col-md-3">
      <p class="lead">ChemoTracker</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
      </div>
      <div class="col-md-9">
        <div class="thumbnail">
            <img src= "https://cdn.pixabay.com/photo/2017/09/07/10/25/logo-2724481__340.png">
          <div class="caption-full">
            <h4>Date: <%= treatment.date %></h4>
              <h5>Neutrophils: <%= treatment.neutrophils %></h3>
            <h5>Treatment: <%= treatment.description %></h3>

              <% if(currentUser && treatment.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-warning btn-xs" href="/treatments/<%= treatment._id %>/edit">Edit</a>
                <form id = "deleteForm" action="/treatments/<%= treatment._id %>?_method=DELETE" method = POST>
                  <button class="btn btn-danger  btn-xs">Delete</button>
                </form>
              <% }; %>
          </div>
        </div>
        <div class="well">
          <div class="text-right">
              <a href="/treatments/<%= treatment._id %>/comments/new" class="btn btn-success">Add side effect</a>
          </div>
          <hr />
          <% treatment.comments.forEach(function(comment){ %>
            <div class="row">
              <div class="col-md-12">
                <span class="pull-right"><%=comment.date %></span>
                <p>
                  <%= comment.text %>
                </p>
              

            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-xs btn-warning"
                  href="/treatments/<%= treatment._id %>/comments/<%= comment._id %>/edit">
                  Edit
                  </a>
                  <form id = "deleteForm" action="/treatments/<%= treatment._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <input type ="submit" class="btn btn-xs btn-danger" value="Delete" />
                  </form>
                  <% }; %>

              </div>
            </div>
          <% }) %>

        </div>

      </div>

  </div>







<% include ../partials/footer %>
